<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {% if site.github_username %}
        <p>
        {% include icon-github.html username=site.github_username %}
        </p>
        {% endif %}
      </div>

      <div class="footer-col footer-col-2">
        {% if site.twitter_username %}
        <p>
        {% include icon-twitter.html username=site.twitter_username %}
        </p>
        {% endif %}
      </div>

      <div class="footer-col footer-col-3">
        {% if site.description %}
        <p>{{ site.description }}</p>
        {% endif %}
      </div>
    </div>

  </div>

</footer>
